<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   Runner

   Created by TWY_MAC on 7/4/2568 BE.
   Copyright (c) 2568 BE . All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
